* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html, body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}
body {
  background-image: url(./images/white-wood.jpeg);
}
header .logo {
  margin: 1rem;
  max-width: 100px;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav ul {
  display: flex;

}
header nav ul li a {
  color: #000
}
main section .image-container {
  width: 320px;
  height: 300px;
  overflow: hidden;
}
main section img {
  width: 100%;
  height: 100%;
}
main section img.up35Reg {
  object-fit: cover;
}
main section img.up35Zoom {
  object-fit: none;
  object-position: 55% 49%;
}
main section img.up42 {
  object-fit: cover; 
  object-position: top;
}
main section .descriptionDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
  padding: 1rem;
  margin: 1rem;
}
main section .descriptionDiv p {
  text-align: center;
}
footer {
  background-image: url(./images/Aba-wood-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
}
p {
  font-family: 'Montserrat', sans-serif;
}
h1, h2, h3, h4, h5, a {
  text-transform: uppercase;
  font-family: 'Playfair Display', serif;
  letter-spacing: .2rem;
}

ul {
  list-style-type: none;
}

button {
  background-color: #003152;
  border-style: none;
  color: #fff;
  width: 200px;
  height: 30px;
  font-family: 'Playfair Display', serif;
  text-transform: uppercase;
  cursor: pointer;
}
input[type="submit"] {
  border: none;
}

select {
  appearance: none;
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
}
input[type="submit"] {
  width: 100%;
  border: none;
  font-family: 'Montserrat', sans-serif;
  height: 50px;
}

form#customerDetails input[type="text"], 
form#customerDetails input[type="tel"], 
form#customerDetails input[type="email"] {
  font-size: 1.5rem;
  border: none;
  width: 100%;
  padding: 12px 20px;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  background-color: #fff;
  border-top: #333 solid 1px;
}
input[type="date"],
select {
  text-align: center;
  width: 100%;
  height: 50px;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
  border: none;
  background-color: #fff;
  border-top: #333 solid 1px;
}
textarea:focus, input:focus{
  outline: none;
}
input[type="submit"] {
  background-color: #003152;
  color: #fff;
}

footer .abaLocation {
  margin-top: 1rem;
}

footer nav {
  margin-top: 1rem;
}

footer a {
  color: #fff;
}
footer nav li {
  text-transform: uppercase;
}

.hamburger {
  display: none; 
  cursor: pointer;
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 900; 
}

.hamburger div {
  width: 30px;
  height: 3px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}
.hamburger.active div {
 background-color:#fff;
}

.hamburger.active div:nth-child(1) {
  transform: rotate(-45deg) translate(-5px, 8px);
}

.hamburger.active div:nth-child(2) {
  opacity: 0;
}

.hamburger.active div:nth-child(3) {
  transform: rotate(45deg) translate(-5px, -8px);
}

.fullscreenNav {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); 
  z-index: 899; 
  animation: fade 0.3s ease-in;
}
.fullscreenNav .nav-links {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.link {
  text-decoration: none;
  position: relative; 
}

.link::after {
  content: ""; 
  position: absolute; 
  left: 0;
  bottom: -2px; 
  width: 0%; 
  border-bottom: 1px solid #fff; 
  transition: width 0.3s ease; 
}
.link:hover::after {
  width: 100%;
}
.fullscreenNav .nav-links a {
  font-family: 'Playfair Display', serif;
  color: #fff;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 999;
  animation: fade 0.3s ease-in;
  color: #fff;
}
.closeButton {
  cursor: pointer;
  color: white;
  font-size: 24px;
}

.reservationDetails,
.customerDetails {
  display: flex;
  align-items: center;
  text-align: center;
  min-width: 100vw;
}

.appImg {
  display: none;
}
.hidden {
  display: none;
}
/* Key Frames */
@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


/*Small Phones*/
@media screen and (max-width: 479px) {
  header {
    flex-direction: column;
    align-items: center;
  }
  header nav {
    flex-direction: column;
    display: none;
  }
  header .logo {
    max-width: 100px;
  }
  .hamburger {
    display: block; 
  }
  .banner-grid {
    min-width: 100vw;
  }
  img.image1 {
    display: none;
  }
  img.image2 {
    max-width: 100%;
  }
  
  section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  main section .image-container {
    width: 100%;
    height: 300px;
    overflow: hidden;
  }
  .reservationDetails {
    flex-direction: column;
  }
  .customerDetails {
    flex-direction: column;
  }
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
  }
  footer nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
  footer nav li {
    margin: 1rem;
  }
  .appImg {
    object-fit: cover;
    display: block;
  }

  .appImg img {
    max-width: 100px;
  }
  
}
/*Large Phones*/
@media screen and (min-width: 768px) {}
/*Tablets*/
@media screen and (min-width: 1024px) {}
/*Desktop*/
@media screen and (min-width: 1280px) {}
/*Large Desktops*/
@media screen and (min-width: 1600px) {}