
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}
body {
  background-image: url('images/white-wood.jpeg');
}
ul {
  list-style-type: none;
}

button {
  background-color: #003152;
  border-style: none;
  color: #fff;
  width: 200px;
  height: 30px;
  text-transform: uppercase;
  cursor: pointer;
}
p, form#customerDetails input[type="text"],  form#customerDetails input[type="tel"], form#customerDetails input[type="email"], input[type="date"], select, input {
  font-family: 'Montserrat', sans-serif;
}
input[type="submit"] {
  font-size: 1rem;
  height: 40px;
  background-color: #003152;
  color: #fff;
  border-style: none;
  width: 100%;
  outline: 1px solid black;
}
input#date, input#phone, input#name, input#email, select#time, select#people {
  outline: 1px solid black;
  font-size: 1rem;
  appearance: none; 
  height: 40px;
  border-style: none;
  width: 100%;
  text-align: center;
  background-color: #fff;
  text-align-last: center;
  
}
h1, h2, h3, h4, h5, a, button {
  font-family: 'Playfair Display', serif;
  text-transform: uppercase;
  letter-spacing: .2rem;
}

/* Header */
.header {
  background-image: url('images/Aba_VillageSalad.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 400px;
  position: relative;
  display: flex;
}
.header-content {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  z-index: 2;
}
.logo-mobile {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  cursor: pointer;
}
.logo {
  display: none;
}
.banner-grid {
  display: none;
  
}
.background-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1; 
  background-color: rgba(0, 0, 0, 0.4);
}
header nav {
  display: none;
}

/* Main */
main section .image-container {
  min-width: 100%;
  height: 300px;
}
main img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
main section .descriptionDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  padding: 1em;
  height: 100%;
  text-align: center;
}
.image-container {
  object-fit: cover;
}

/* Footer */
footer {
  background-image: url('images/Aba-wood-1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
footer nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 1rem;
}
.abaHour, .abaLocation {
  text-align: center;
}
.abaInfo {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
footer a {
  color: #fff;
  text-decoration: none;
  font-size: 0.85rem;
  text-transform: uppercase;
}
footer nav li {
  margin: 1em;
  text-align: center;
}



/* Hamburger icon */

.hamburger {
  cursor: pointer;
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 900; 
}
.hamburger div {
  width: 30px;
  height: 3px;
  background-color: #fff;
  margin: 6px 0;
  transition: 0.4s;
}
.hamburger.active div {
 background-color:#fff;
}
.hamburger.active div:nth-child(1) {
  transform: rotate(-45deg) translate(-5px, 8px);
}
.hamburger.active div:nth-child(2) {
  opacity: 0;
}
.hamburger.active div:nth-child(3) {
  transform: rotate(45deg) translate(-5px, -8px);
}

/* Toggle Menu + Overlay */
.fullscreenNav {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8); 
  z-index: 899; 
  animation: fade 0.3s ease-in;
}
.fullscreenNav .nav-links {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.fullscreenNav .nav-links a {
  font-family: 'Playfair Display', serif;
  color: #fff;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8); 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 999;
  animation: fade 0.3s ease-in;
  color: #fff;
}
.closeButton {
  cursor: pointer;
  color: white;
  font-size: 24px;
}

/* Form */
.reservationForm {
  text-align: center;
  
}
.form-container {
  width: 100%;
}
.form-container h2 {
  margin: 1em;
}

.appImg {
  width: 100%;
  background-image: url('images/white-wood.jpeg');
  display: block;
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.appImg img {
  max-width: 120px;
  object-fit: cover;
}
/* Misc */

.hidden {
  display: none;
}

/* Key Frames */
@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*Tablets + Desktop Screens */
@media screen and (min-width: 768px) {
  .header {
    background-image: none;
    height: auto;
    align-items: center;
    gap: 2em;
    margin-top: 3em;
    margin-left: 3em;
    margin-right: 3em;
  }
  .header-content {
    width: 150px;
    top: 0%;
    left: 0%;
    transform: translate(0);
  }
  .logo {
    display: block;
    width: 100%;
    cursor: pointer;
  
  }
  .background-overlay {
    display: none;
  }
  header {
    display: flex;
    justify-content: space-around;
  }
  header nav {
    display: block;
    width: 100%;
  }
  header nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    padding: 10px 20px;
    margin: 0 20px;
  }
  header nav ul li {
    text-align: center;
    padding: 0 10px;
  }
  header nav ul li a {
    color: #000;
    text-decoration: none;
  }
  .logo-mobile {
    display: none;
  }
  .hamburger {
    display: none;
  }
  .banner-grid {
    display: grid;
    grid-template-columns: 45% 55%;
    grid-gap: 1em;
    margin: 0 1em;
    align-items: center;
    justify-content: center;
  }
  .banner-grid-container {
    min-width: 100%;
    height: 600px;
  }
  .image1, .image2 {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .image1 {
    object-position: center 80%;
  }
  .image2 {
    object-position: center center;
  }
  main img.up35Zoom {
    object-fit: none;
  }
  form#customerDetails.customerDetails,form#reservationDetails.reservationDetails {
    display: flex;
    flex-direction: row;
  }
 
  .reservationForm {
    margin: 3em;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
  }
  .form-container {
    padding: 2em 4em;
  }
  section {
    padding: 2em;
  }
  section.section-flex {
    display: flex;
    align-items: center;
  }
  section.section-flex.reverse {
    flex-direction: row-reverse;
  }
  main section .descriptionDiv {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 2em 4em;
  }
  main section .image-container {
    min-width: 350px;
    min-height: 350px;
  } 
  .link {
    text-decoration: none;
    position: relative; 
  }
  
  .link::after {
    content: ""; 
    position: absolute; 
    left: 0;
    bottom: -2px; 
    width: 0%; 
    border-bottom: 1px solid #fff; 
    transition: width 0.3s ease; 
  }
  .link:hover::after {
    width: 100%;
  }
  footer {
    min-width: 100vw;
    min-height: 400px;
    justify-content: space-between;
    background-size: auto;
  }
  footer nav {
    justify-content: center;
  }
  .abaInfo {
    flex-direction: row;
    gap: 5em;
    min-width: 100%;
    justify-content: flex-end;
    padding: 3em 12em 0 12em;
  }
  .abaHour, .abaLocation {
    text-align: left;
  }
  ul {
    display: flex;

  }
  .appImg {
    display: none;
  }
}
